<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>sample</title>
    <script>
        // サーバーに接続 (一連の処理)
        window.onload = function () {
            socket = new WebSocket("ws://localhost:3000/ws");
            socket.onopen = function () {
                updateMessage("システム", "接続しました！");
            };
            socket.onmessage = function (event) {
                // サーバーからメッセージを受け取る
                updateMessage("サーバー", event.data);
            };
        };

        // メッセージ欄を更新する
        function updateMessage(name, message) {
            let listName = document.createElement("li");
            let nameText = document.createTextNode(name);
            listName.appendChild(nameText);

            let messages = document.createElement("ul");

            let listMessage = document.createElement("li");
            let messageText = document.createTextNode(message);
            listMessage.appendChild(messageText);

            messages.appendChild(listMessage);

            listName.appendChild(messages);

            let ul = document.getElementById("messages");
            ul.appendChild(listName);
        }

        // サーバーにメッセージを送信する
        function send() {
            let sendMessage = document.getElementById("message");
            let msg = sendMessage.value;
            if (msg == "") {
                return;
            }
            socket.send(msg);
            updateMessage("あなた", msg);
            sendMessage.value = "";
        }
    </script>
</head>
<body>
<!-- 送信欄 -->
<p>メッセージを入力してください。</p>
<input type="text" id="message" /><button onclick="send()">送信</button>

<!-- メッセージ欄 -->
<p>メッセージ一覧</p>
<ul id="messages"></ul>

</body>
</html>